<%= render 'volunteers/new/hero' %>
<div class="container u-top-margin">
  <%= render 'volunteers/new/how_it_works' %>
  <%= render 'volunteers/new/form' %>
  <%= render 'volunteers/new/faq' %>
</div>
