<nav class="navbar navbar-default" style="background-color: #00576F; color: white;">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" target="_blank" href="http://www.bxlrefugees.be/">
        <%= image_tag 'logo.png', style: 'max-height: 100px;' %>
      </a>
    </div>
    <h1 class="navbar-text">Accueil des réfugiés à domicile</h1>
  </div>
</nav>
