<div class="l-banner l-banner__mask" style="background-image: url('<%= asset_url('hands.png')%>')">
  <div>
    <h1>Plate-forme d'hébergement citoyen</h1>
    <p>Offrez un lit pour une nuit</p>
  </div>
</div>
