<div class="col-md-6 col-sm-12">
  <h4>Comment ça marche ?</h4>
  <ul>
    <li>Indiquez vos coordonnées dans le formulaire (ces données seront traitées de manière entièrement confidentielles)</li>
    <li>Indiquez aussi quels jours de la semaine en général vous êtes prêt(e) à héberger des personnes</li>
    <li>Vous recevrez ensuite le sms suivant, chaque jour où vous avez indiqué être en général disponible: <i>"Bonjour, pouvez-vous héberger quelqu'un ce soir? Si oui, répondez OUI. FINISH pour se désinscrire. GO pour se réinscrire. NON pour annuler après OUI."</i></li>
    <li>Suite à votre réponse à ce sms, nous vous recontacterons alors pour organiser un éventuel hébergement, si vous avez marqué votre volonté de le faire</li>
    <li>Vous pouvez évidemment à tout moment vous désinscrire en envoyant FINISH</li>
  </ul>
  <a href="#">Mentions légales et vie privée</a>
</div>
