.l-banner {
  color: white;
  text-align: center;
  height: 30vh;
  /* if you have a 70px navbar => height: calc(100vh - 70px); */
  background-size: cover !important;
  display: flex;
  align-items: center;
  justify-content: center;
}

.l-banner__mask {
  position: relative;

  &:before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    background-image: linear-gradient(-45deg, #d6d2d2, #C5C5C5, #8e8e8e);
    opacity: 0.5;
  }

  & > * {
    position: relative;
  }
}

.l-banner h1 {
  font-size: 50px;
  font-weight: bold;
  text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
}
.l-banner p {
  font-size: 25px;
  font-weight: lighter;
  opacity: 0.8;
  margin-bottom: 30px;
}
