<% flash.each do |type, message| %>
  <div class="alert alert-<%= {success: 'alert-success', error: 'alert-error'}[type] || type.to_s %> fade in">
    <button class="close" data-dismiss="alert">×</button>
    <%= message %>
  </div>
<% end %>
