<div class="l-footer">
  <div class="l-footer__links">
    <a href="https://www.facebook.com/groups/140794776533345"><i class="fa fa-facebook"></i></a>
  </div>
  <div class="l-footer__copyright">
    Made with <i class="fa fa-heart"></i> by <a href="https://eightytwentylab.be">EightyTwentyLab</a>
  </div>
</div>
